# Ignore PyTorch/checkpoints
*.ckpt
*.pt
*.pth


# Ignore temporary/backup files
*.tmp
*.log
*.swp

# Ignore PyCharm/IDE files
.idea/
*.iml
*.pyc
__pycache__/

# Optional: Ignore dataset outputs
*.npz
*.npy
