# Ignore PyTorch/TensorFlow checkpoints
*.ckpt
*.pt
*.pth
*.h5

# Ignore temporary/backup files
*.tmp
*.log
*.swp

# Ignore PyCharm/IDE files
.idea/
*.iml
*.pyc
__pycache__/

# Optional: Ignore dataset outputs
*.npz
*.npy
